<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navBar') %>
        <h1>
            <%= title %>
        </h1>
        <!-- Load validation errors, if any -->
        <%- include('partials/validation-errors') %>
        <% if (!locals.user) {%>
            <p>In order to create a new message, please <a href="/login">login</a> first.</p>
            <% } else {%>
                <form method="post" action="/new-message">
                    <p>
                        <label for="title">Title: </label>
                        <input id="title" name="title" type="text" minlength="1" maxlength="100" required value =<%= locals.userInput?.title ?? '' %> >
                    </p>
                    <p>
                        <label for="message">Message: </label>
                        <textarea id="message" name="message" type="text" minlength="1" maxlength="200" required placeholder="Say Hi!"><%= locals.userInput?.message ?? '' %></textarea>
                    </p>
                    <button type = "submit">Submit</button>
                </form>
                <% };%>
</body>

</html>